.:5553 {
    errors

    forward . 1.1.1.1 1.0.0.1
}

{{range $domain := .ext}}
{{$domain}}:5553 {
    template IN A {
        rcode NOERROR
    }

    forward . 127.0.0.1:5554
}
{{end}}

.:5554 {
    bind 127.0.0.1 ::1
    errors
    finalize

    # Apply DNS64 synthesis to queries routed here
    dns64 {
        translate_all
        allow_ipv4
        prefix 64:ff9b::/96
    }

    # Forward the original domain names
    forward . 1.1.1.1 1.0.0.1
}
